body{
    padding: 0;
    margin: 0;
  
    
}
.toolbar {
    display: flex;
    justify-content: space-between;
    padding-left: 9rem;
    padding-right: 9rem;
  
    gap: 15rem;
}
.toolbar p{
    color: rgb(23, 22, 24);
}
.toolbar-tex {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 10rem;

}
.toolbar-tex a{
    color: rgb(16, 61, 185);
}
.toolbar-tex p{
    color: rgb(22, 21, 21);
}
.header{
    position: sticky;
 
}
.armada{
    display: flex;
    bottom: 0;
    background-color: rgb(255, 255, 255);
    align-items: center;
    justify-content: space-between;
    padding-left: 9rem;
    padding-right: 9rem;
    gap: 8rem;
    
}
.armada_tex{
    display: flex;
    gap: 2rem;
  
}
.armada ul{
    display: flex;
    gap:3rem ;
    align-items: center;
    list-style: none;
    font-size: 20px;
}
.armada a:hover{
    transition: .8s;
    border-bottom: 2px solid rgb(48, 9, 223);
}
.armada a {
  text-decoration: none;
  color: black;
}
.armada button{
   padding: 20px;
   background-image: linear-gradient(to right, #97ada3ce 0%, #8377779a 51%, #78a57844 100%);
   border-radius: 30px;
   font-size: 14px;
   border: none;
   
}
.armada button:hover{
    color: blanchedalmond;
    background-image: linear-gradient(to right,  #708f87ce 0%, #9c957ec5 51%, #0d0e0d44 100% );
    transition: 0.3 s;
}
.ramka {
    background-image: url('../img/merc225525.jpg');
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    padding-left: 9rem;
    padding-right: 9rem;
    justify-content: space-between;
}
.ramka  h1{
     padding-top: 10rem;
     font-size: 2rem;
     color: rgba(236, 221, 221, 0.733);
    
}

  .ramka button{
    padding: 20px;
    border-radius: 10px;
    font-size: 25px;
    border: none;
    background-image: linear-gradient( to right, #0c5e5a7e 0%, #2d31339a 51%, #204647a9 100%);

  } 

  .ramka button:hover{
    background-image: linear-gradient( to right, #0c5e5a7e 0%, #2d31339a 51%, #204647a9 100%);
    transition: .8s;
    padding: 20px ;
  }
  .igonka {
      padding-top: 1rem;
      display: flex;
      flex-direction: column;
      height: 100%;
      font-size: 3rem;
  }
  
  .igonka a{
      display: flex;
      color: rgb(241, 241, 241);
      padding-top: 5rem;  
  } 

  .igonka a:hover{
   transform: rotate(360deg) ;
   transition: .7s;
                
 }

  .uslugi{
   font-size: 3rem;
   text-align: center;
   display: flex;
   align-items: center;
   justify-content: space-between;
   white-space:nowrap;
   padding: 10px;
   
  }
  .uslugi img {
      width: 100%;
  }
  .class{
     display: flex;
     padding-left: 12rem;
     padding-right: 12rem;
     justify-content: space-between;
     text-align: center;   
  }
  .class-1 img{
    width: 200px;
  }
 
.class-1 {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    padding: 45px 30px;

}
  
.class-1 a {
    color: rgb(87, 19, 175);
    text-decoration: none;
}
.arbaite{
    font-size: 3rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    white-space:nowrap;
    padding: 10px;
}
.arbaite img{
    width:100%;
}
.karta{
    display: flex;
    flex-direction: column; 
    justify-content: center;
    padding-left: 12rem;
     padding-right: 12rem;

}
.karta h1{
    display: flex;
    justify-content: center;

}
.karta h2{
    display: flex;
    justify-content: center;

}
.karta h3{
    display: flex;
    justify-content: center;

}
.karta a{
 text-decoration: none;
}
.karta_karta{
    display: flex;
    justify-content: center;
}
@media (max-width: 480px){
    .armada{
         padding: 0;
         gap:0;
    }
    .armada_tex{
        gap: 0;
    }
    .armada_tex img{
        height: 25px;
        padding-top: 5px;
        padding-left: 15px;
        padding-right: 15px;
    }
    .armada_tex h1{
         font-size: 8px;
         padding-top: 5px;
    }
    .armada ul{
        padding-left: 10px;
        padding-right: 10px;
        gap: 6px;
    }
    .armada li{
         font-size:8px ; 
         gap: 0; 
    }
    .armada button{
        padding: 5px;
        font-size: 5px;
        border-radius: 5px;
    }
     .ramka{
         width: 90px;
         display: block;
         flex-direction: column;
     }
     .ramka-tex{
         display: block;
         justify-content: center;
      
     }
     .ramka h1{
         font-size: 25px;
         color: rgb(238, 225, 206);
         display: flex;
         justify-content: center;
         
      
        }
     .ramka button{
         padding: 5px;
         font-size:15px;
        
         
        }
        .ramka button:hover{
            padding: 5px;
            font-size:15px;
            background-color: rgb(196, 26, 26);
            
           }
     .igonka{
         display: flex;
         flex-direction: row;
         width: 50%;
         gap: 30px;
         justify-content: center;
             
        }
     .uslugi img{
         width: 100px;
         height: 0.5vh;
         display: flex;
         
        }
     .uslugi h1{
        font-size: 20px;
        }
        .class{
            display: block;
            padding: 0;
           
          
        }
        .class-1 img{
            width: 75px;
    
        }
        .class-1{
          padding: 20px 10px 25px 10px;
          margin: 2rem;
        
        }
        .class-1 h1{
           font-size: 20px ;
        }
        .class-1 p{
            font-size: 15px ;
         }
         .class-1 a{
            font-size: 10px ;
         }
         .karta{
             padding: 0;
         }
         .karta h1{
             padding-left: 5px;
             padding-right: 5px;
         }
         .karta  h4{
             display: flex;
             justify-content: center;
             padding-right: 5p2px;
             padding-left: 2px;
         }
         .karta_karta{
             height: 50vh;
             margin: 70px 20px 70px 20px;
             margin-bottom: 5px;
         }
        
    }