body{
    margin: 0;
    padding: 0;
    background-color: black;
}

header{
    padding-left: 10rem;
    padding-right: 10rem;
}
.tex{
    color: blanchedalmond; 
    padding-right: 10rem;
    padding-left: 10rem;
    

}
.tex_1{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    white-space:nowrap;
}
.tex img{
    width: 100%;
}

/* 1 */
.auto {
    color: blanchedalmond;
    display: flex;
    justify-content: center;
    padding-top: 5rem;
}
.auto h1 {
    display: flex;
    justify-content: center;
}
.auto p {
    display: flex;
    justify-content: center;
}
.auto h2 {
    display: flex;
    justify-content: center;
    color: rgb(23, 151, 173);
}
.auto li {
    display: flex;
    justify-content: center;
    text-decoration: none;
    align-items: center;
    list-style: none;

}
.auto a {
    text-decoration: none;
    display: flex;
    background-color: deepskyblue;
    padding: 10px;
}
.auto a:hover{
    background-color: floralwhite;
}

.auto_foto img{
    width: 40rem;
    display: flex;
    justify-content: center;
   
}

/* 2 */

.auto_1 {
    color: blanchedalmond;
    display: flex;
    justify-content: center;
    padding-top: 5rem;
}
.auto_1 h1 {
    display: flex;
    justify-content: center;
}
.auto_1 p {
    display: flex;
    justify-content: center;
}
.auto_1 h2 {
    display: flex;
    justify-content: center;
    color: rgb(23, 151, 173);
}
.auto_1 li {
    display: flex;
    justify-content: center;
    text-decoration: none;
    align-items: center;
    list-style: none;

}
.auto_1 a {
    text-decoration: none;
    display: flex;
    background-color: deepskyblue;
    padding: 10px;
}
.auto_1 a:hover{
    background-color: floralwhite;
}

.auto_foto_1 img{
    width: 40rem;
    display: flex;
    justify-content: center;
   
}

/* 3 */

.auto_2 {
    color: blanchedalmond;
    display: flex;
    justify-content: center;
    padding-top: 5rem;
}
.auto_2 h1 {
    display: flex;
    justify-content: center;
}
.auto_2 p {
    display: flex;
    justify-content: center;
}
.auto_2 h2 {
    display: flex;
    justify-content: center;
    color: rgb(23, 151, 173);
}
.auto_2 li {
    display: flex;
    justify-content: center;
    text-decoration: none;
    align-items: center;
    list-style: none;

}
.auto_2 a {
    text-decoration: none;
    display: flex;
    background-color: deepskyblue;
    padding: 10px;
}
.auto_2 a:hover{
    background-color: floralwhite;
}

.auto_foto_2 img{
    width: 40rem;
    display: flex;
    justify-content: center;
   
}

/* 4 */

.auto_3 {
    color: blanchedalmond;
    display: flex;
    justify-content: center;
    padding-top: 5rem;
}
.auto_3 h1 {
    display: flex;
    justify-content: center;
}
.auto_3 p {
    display: flex;
    justify-content: center;
}
.auto_3 h2 {
    display: flex;
    justify-content: center;
    color: rgb(23, 151, 173);
}
.auto_3 li {
    display: flex;
    justify-content: center;
    text-decoration: none;
    align-items: center;
    list-style: none;

}
.auto_3 a {
    text-decoration: none;
    display: flex;
    background-color: deepskyblue;
    padding: 10px;
}
.auto_3 a:hover{
    background-color: floralwhite;
}

.auto_foto_3 img{
    width: 40rem;
    display: flex;
    justify-content: center;
   
}

/* 5 */
.kurs{
    color: antiquewhite;
    display: flex;
    justify-content: center;
    padding-top: 7rem;
}
.igonca{
    color: antiquewhite;
    display: flex;
    justify-content: center;
    font-size: 15rem;
    
}

